<html>

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="description" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href="/stylesheets/sessions.css" rel="stylesheet" type="text/css">

	<title>Record | Analysis</title>

	<link rel="shortcut icon" type="image/png" href="/images/logo.svg">

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



	<script type="text/javascript">
    //   google.charts.load('current', {'packages':['corechart']});
    google.charts.load('current', {'packages':['corechart', 'timeline']});

    // </script>

</head>


<body>

	<div id = "header">

		<img id = "logo" src="/images/logo.svg" onclick="window.location='/sessions';"/>
		<h1><span id="home" onclick="window.location='/sessions';">record</span><span id="page"> // meetings</span></h1>

		<a href="/auth/logout" id="logout">logout</a>
		<a href="/createSession" id="start">create</a>
		<a href="/joinSession" id="join">join</a>

	</div> 

	<script type="text/javascript">

		// Load all the packages required by your charts in a single call to google.charts.load().

		google.charts.setOnLoadCallback(drawIndividual);
		google.charts.setOnLoadCallback(drawGender);
		google.charts.setOnLoadCallback(drawEthnicity);
		google.charts.setOnLoadCallback(drawTimeline);

		function drawIndividual() {

			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Individual');
			data.addColumn('number', 'Speaking Time');
			data.addRows({{{toJSON individual}}});

			var options = {
				title: 'Percent Spoken Across Individuals'
			};

			var chart = new google.visualization.PieChart(document.getElementById('individual'));

			chart.draw(data, options);
		}

		function drawGender() {

			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Gender');
			data.addColumn('number', 'Speaking Time');
			data.addRows({{{toJSON gender}}});

			var options = {
				title: 'Percent Spoken Across Gender'
			};

			var chart = new google.visualization.PieChart(document.getElementById('gender'));

			chart.draw(data, options);
		}


		function drawEthnicity() {

			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Ethnicity');
			data.addColumn('number', 'Speaking Time');
			data.addRows({{{toJSON ethnicity}}});

			var options = {
				title: 'Percent Spoken Across Ethnicity'
			};

			var chart = new google.visualization.PieChart(document.getElementById('ethnicity'));

			chart.draw(data, options);
		}

		function drawTimeline() {
			var container = document.getElementById('timeline');
			var chart = new google.visualization.Timeline(container);
			var dataTable = new google.visualization.DataTable();

			dataTable.addColumn({ type: 'string', id: 'President' });
			dataTable.addColumn({ type: 'number', id: 'Start' });
			dataTable.addColumn({ type: 'number', id: 'End' });
			dataTable.addRows([
				[ 'Washington', 0, 2 ],
				[ 'Washington', 3, 4 ],
				[ 'Adams',      5, 6 ],
				[ 'Jefferson',  0,  6 ]]
			);

			chart.draw(dataTable);
		}
		


	</script>

{{!--     Individual <br>
    {{toJSON individualX}} <br>
    {{toJSON individualY}} <br> <br> <br>
    Gender <br>
    {{toJSON genderX}} <br>
    {{toJSON genderY}} <br> <br> <br>
    Ethnicity <br>
    {{toJSON ethnicityX}} <br>
    {{toJSON ethnicityY}} <br> --}}


    <div id="table-container">

    	<div id="individual" style="width: 30%; height: 200px; float: left;"></div>
    	<div id="gender" style="width: 30%; height: 200px; float: left;"></div>
    	<div id="ethnicity" style="width: 30%; height: 200px; float: left;"></div>
    	<div style="clear: both"></div> <br><br>
    	<div id="timeline" style="height: 180px;"></div>

    </div>
<br><br><br><br><br><br><br><br><br><br><br><br>
    sessionData <br>

    {{!-- {{{toJSON sessionData}}} --}}
    <br><br><br>
{{!--         wordspaceData <br>
	{{{toJSON wordspaceData}}} --}}

	Total Meeting Time: {{meetingLength}} seconds

	<br><br>
	{{toJSON individual}} <br>
	{{toJSON gender}} <br>
	{{toJSON ethnicity}} <br>




</body>

</html>